body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 0.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aa30;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}